<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.vortexa.bot_platform.mapper.AccountBaseInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.vortexa.common.entity.AccountBaseInfo">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="params" property="params"/>
        <result column="insert_datetime" property="insertDatetime"/>
        <result column="update_datetime" property="updateDatetime"/>
        <result column="valid" property="valid"/>
    </resultMap>

    <insert id="insertOrUpdate" parameterType="cn.com.vortexa.common.entity.AccountBaseInfo">
        INSERT INTO t_account_base_info
        (type, name, email, password, params, update_datetime, valid)
        VALUES (#{type}, #{name}, #{email}, #{password}, #{params}, current_timestamp, #{valid})
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="type != null">
                type = values(type),
            </if>
            <if test="name != null">
                name = values(name),
            </if>
            <if test="password != null">
                password =values(password),
            </if>
            <if test="params != null">
                params = values(params)
            </if>
            <if test="valid != null">
                valid = values(valid),
            </if>
        </trim>
    </insert>

    <insert id="insertOrUpdateBatch" parameterType="java.util.List">
        INSERT INTO t_account_base_info
        (id, type, name, email, password, params, update_datetime, valid)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (NULL, #{item.type}, #{item.name}, #{item.email}, #{item.password}, #{item.params}, CURRENT_TIMESTAMP, 1)
        </foreach>
        ON DUPLICATE KEY UPDATE
        type = values(type),
        name = values(name),
        password = values(password),
        update_datetime = values(update_datetime),
        params = values(params),
        valid =values (valid)
    </insert>

    <select id="multipleConditionQuery"
            parameterType="cn.com.vortexa.common.entity.AccountBaseInfo"
            resultType="cn.com.vortexa.common.entity.AccountBaseInfo">
        select
        t.id, t.type, t.name, t.email, t.password, t.params,
        t.insert_datetime as insertDatetime,
        t.update_datetime as updateDatetime,
        t.valid as valid
        from
        t_account_base_info as t
        <where>
            valid = 1
            <if test="id != null">
                and t.id = #{id}
            </if>
            <if test="type != null">
                and t.type = #{type}
            </if>
            <if test="name != null">
                and t.name = #{name}
            </if>
            <if test="email != null">
                and t.email = #{email}
            </if>
            <if test="password != null">
                and t.password = #{password}
            </if>
            <if test="params != null and !params.isEmpty()">
                AND JSON_CONTAINS(
                t.params,
                <foreach collection="params" item='value' index='key' separator=',' open="JSON_OBJECT(" close=")">
                    #{key}, #{value}
                </foreach>
                )
            </if>
        </where>
    </select>

</mapper>
