<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.vortexa.bot_platform.mapper.BotInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.vortexa.common.entity.BotInfo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="image" property="image"/>
        <result column="limit_project_ids" property="limitProjectIds"/>
        <result column="job_params" property="jobParams"/>
        <result column="params" property="params"/>
        <result column="version" property="version"/>
        <result column="insert_datetime" property="insertDatetime"/>
        <result column="update_datetime" property="updateDatetime"/>
        <result column="valid" property="valid"/>
    </resultMap>


    <insert id="insertOrUpdate" parameterType="cn.com.vortexa.common.entity.BotInfo">
        INSERT INTO t_bot_info
        (name, description, limit_project_ids, image, job_params, params, version update_datetime, valid)
        VALUES (
        #{name}, #{description}, #{limitProjectIds}, #{image}, #{jobParams}, #{params}, #{version}, current_timestamp, 1 )
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="description != null">
                description = values (description),
            </if>
            <if test="limitProjectIds != null">
                limit_project_ids = values (limit_project_ids),
            </if>
            <if test="image != null">
                image = values (image),
            </if>
            <if test="jobParams != null">
                job_params =values (job_params),
            </if>
            <if test="params != null">
                params = values (params),
            </if>
            <if test="version != null">
                version =values (version),
            </if>
            <if test="updateDatetime != null">
                update_datetime =values (update_datetime),
            </if>
            <if test="valid != null">
                valid = values(valid),
            </if>
        </trim>
    </insert>

    <insert id="insertOrUpdateBatch" parameterType="java.util.List">
        INSERT INTO t_bot_info
        (name, description, limit_project_ids, image, job_params, params,version, update_datetime, valid)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.name}, #{item.description}, #{item.limitProjectIds}, #{item.image}, #{item.jobParams},
            #{item.params}, #{item.version} current_timestamp, 1)
        </foreach>
        ON DUPLICATE KEY UPDATE
        description = values(description),
        limit_project_ids = values(limit_project_ids),
        image = values(image),
        job_params = values(job_params),
        params = values(params),
        version = values(version),
        update_datetime = values(update_datetime),
        valid =values (valid)
    </insert>

    <select id="multipleConditionQuery"
            parameterType="cn.com.vortexa.common.entity.BotInfo"
            resultType="cn.com.vortexa.common.entity.BotInfo">
        select
        t.id as id,
        t.name,
        t.description,
        t.image,
        t.job_params as jobParams,
        t.params,
        t.version,
        t.insert_datetime as insertDatetime,
        t.update_datetime as updateDatetime,
        t.valid as valid
        from
        t_bot_info as t
        <where>
            valid = 1
            <if test="name != null">
                and t.name = #{name}
            </if>
            <if test="description != null">
                and t.description = #{description}
            </if>
            <if test="image != null">
                and t.image = #{image}
            </if>
            <if test="jobParams != null and !params.isEmpty()">
                and t.job_params = #{jobParams}
            </if>
            <if test="version != null">
                and t.version = #{version}
            </if>
            <if test="params != null and !params.isEmpty()">
                AND JSON_CONTAINS(
                t.params,
                <foreach collection="params" item='value' index='key' separator=',' open="JSON_OBJECT(" close=")">
                    #{key}, #{value}
                </foreach>
                )
            </if>
        </where>
    </select>
</mapper>
