<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.vortexa.bot_platform.mapper.BotInstanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.vortexa.common.entity.BotInstance">
        <id column="id" property="id"/>
        <result column="bot_id" property="botId"/>
        <result column="bot_key" property="botKey"/>
        <result column="account_table_name" property="accountTableName"/>
        <result column="job_params" property="jobParams"/>
        <result column="params" property="params"/>
        <result column="insert_datetime" property="insertDatetime"/>
        <result column="update_datetime" property="updateDatetime"/>
        <result column="valid" property="valid"/>
    </resultMap>

    <insert id="insertOrUpdate" parameterType="cn.com.vortexa.common.entity.BotInstance">
        INSERT INTO t_bot_instance
        (bot_id, bot_name, bot_key, account_table_name, job_params, params, update_datetime, valid)
        VALUES (
        #{botId}, #{botName}, #{botKey}, #{accountTableName}, #{jobParams}, #{params}, now(), 1
        )
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="botId != null">
                bot_id = values (bot_id),
            </if>
            <if test="accountTableName != null">
                account_table_name = values (account_table_name),
            </if>
            <if test="jobParams != null">
                job_params =values (job_params),
            </if>
            <if test="params != null">
                params = values (params),
            </if>
            <if test="updateDatetime != null">
                update_datetime = values (update_datetime),
            </if>
            <if test="valid != null">
                valid = values(valid),
            </if>
        </trim>
    </insert>

    <insert id="insertOrUpdateBatch" parameterType="java.util.List">
        INSERT INTO t_bot_instance
        (bot_id, bot_name, bot_key, account_table_name, job_params, params, update_datetime, valid)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.botId}, #{item.botName}, #{item.botKey}, #{item.accountTableName}, #{item.jobParams},
            #{item.params}, current_timestamp, 1)
        </foreach>
        ON DUPLICATE KEY UPDATE
        bot_id = values(bot_id),
        account_table_name = values(account_table_name),
        job_params = values(job_params),
        params = values(params),
        update_datetime = values(updateDatetime),
        valid =values (valid)
    </insert>


    <select id="multipleConditionQuery"
            parameterType="cn.com.vortexa.common.entity.BotInstance"
            resultType="cn.com.vortexa.common.entity.BotInstance">
        select
        t.id as id,
        t.bot_id as botId,
        t.bot_key as botKey,
        t.bot_name as botName,
        t.account_table_name as accountTableName,
        t.job_params as jobParams,
        t.params,
        t.insert_datetime as insertDatetime,
        t.update_datetime as updateDatetime,
        t.valid as valid
        from
        t_bot_instance t
        <where>
            valid = 1
            <if test="botId != null">
                and t.bot_id = #{botId}
            </if>
            <if test="botKey != null">
                and t.bot_key = #{botKey}
            </if>
            <if test="botName != null">
                and t.bot_name = #{botName}
            </if>
            <if test="accountTableName != null">
                and t.account_table_name = #{accountTableName}
            </if>
            <if test="params != null and !params.isEmpty()">
                AND JSON_CONTAINS(
                t.params,
                <foreach collection="params" item='value' index='key' separator=',' open="JSON_OBJECT(" close=")">
                    #{key}, #{value}
                </foreach>
                )
            </if>
        </where>
    </select>
</mapper>
