<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.vortexa.bot_platform.mapper.BrowserEnvMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.vortexa.common.entity.BrowserEnv">
        <id column="id" property="id"/>
        <result column="user_agent" property="userAgent"/>

        <result column="other_header" property="otherHeader"/>

        <result column="insert_datetime" property="insertDatetime"/>
        <result column="update_datetime" property="updateDatetime"/>
        <result column="valid" property="valid"/>
    </resultMap>

    <insert id="insertOrUpdate" parameterType="cn.com.vortexa.common.entity.BrowserEnv">
        INSERT INTO t_browser_env (user_agent, other_header, update_datetime, valid)
        VALUES (
        #{userAgent}, #{otherHeader}, current_timestamp, 1
        )
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="otherHeader != null">
                other_header = values(other_header),
            </if>
            <if test="updateDatetime != null">
                update_datetime =values(update_datetime),
            </if>
            <if test="valid != null">
                valid = values(valid),
            </if>
        </trim>
    </insert>

    <insert id="insertOrUpdateBatch" parameterType="java.util.List">
        INSERT INTO t_browser_env (user_agent, other_header, update_datetime, valid)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userAgent}, #{item.otherHeader}, current_timestamp, 1)
        </foreach>
        ON DUPLICATE KEY UPDATE
        other_header = values(other_header),
        update_datetime = values(update_datetime),
        valid = values (valid)
    </insert>

    <select id="multipleConditionQuery"
            parameterType="cn.com.vortexa.common.entity.BrowserEnv"
            resultType="cn.com.vortexa.common.entity.BrowserEnv">
        select
        t.id as id,
        t.user_agent as userAgent, t.other_header as otherHeader,
        t.insert_datetime as insertDatetime,
        t.update_datetime as updateDatetime,
        t.valid as valid
        from
        t_browser_env as t
        <where>
            valid = 1
            <if test="id != null">
                and t.id = #{id}
            </if>
            <if test="userAgent != null">
                and t.user_agent = #{userAgent}
            </if>
            <if test="otherHeader != null and !params.isEmpty()">
                AND JSON_CONTAINS(
                t.other_header,
                <foreach collection="otherHeader" item='value' index='key' separator=',' open="JSON_OBJECT(" close=")">
                    #{key}, #{value}
                </foreach>
                )
            </if>
        </where>
    </select>

</mapper>
