<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.vortexa.bot_platform.mapper.DiscordAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.vortexa.common.entity.DiscordAccount">
        <id column="id" property="id"/>
        <result column="password" property="password"/>
        <result column="username" property="username"/>
        <result column="bind_email" property="bindEmail"/>
        <result column="bind_email_password" property="bindEmailPassword"/>
        <result column="token" property="token"/>
        <result column="params" property="params"/>
        <result column="insert_datetime" property="insertDatetime"/>
        <result column="update_datetime" property="updateDatetime"/>
        <result column="is_valid" property="isValid"/>
    </resultMap>

    <insert id="insertOrUpdate" parameterType="cn.com.vortexa.common.entity.DiscordAccount">
        INSERT INTO t_discord_account
        (password, username, bind_email, bind_email_password, token, params, insert_datetime, update_datetime, is_valid)
        VALUES (
        #{password}, #{username}, #{bindEmail}, #{bindEmailPassword}, #{token}, #{params},
        #{insertDatetime}, #{updateDatetime}, #{isValid}
        )
        ON DUPLICATE KEY UPDATE
        <if test="otherHeader != null">
            password =values(password),
        </if>
        <if test="otherHeader != null">
            bind_email = values(bind_email),
        </if>
        <if test="otherHeader != null">
            bind_email_password =values(bind_email_password),
        </if>
        <if test="otherHeader != null">
            token = values(token),
        </if>
        <if test="otherHeader != null">
            params =values(params),
        </if>
        <if test="otherHeader != null">
            update_datetime =values(update_datetime),
        </if>
    </insert>

    <insert id="insertOrUpdateBatch" parameterType="java.util.List">
        INSERT INTO t_discord_account
        (password, username, bind_email, bind_email_password, token, params, insert_datetime, update_datetime, is_valid)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{password}, #{username}, #{bindEmail}, #{bindEmailPassword}, #{token}, #{params}, #{insertDatetime},
            #{updateDatetime}, #{isValid})
        </foreach>
        ON DUPLICATE KEY UPDATE
        password = values(password),
        bind_email = values(bind_email),
        bind_email_password = values(bind_email_password),
        token = value(token),
        params = values(params),
        update_datetime = values(update_datetime)
    </insert>

    <select id="multipleConditionQuery"
            parameterType="cn.com.vortexa.common.entity.DiscordAccount"
            resultType="cn.com.vortexa.common.entity.DiscordAccount">
        select
        t.id as id,
        t.password, t.username, t.bind_email as bindEmail,
        t.bind_email_password as bindEmailPassword, t.token, t.params,
        t.insert_datetime as insertDatetime,
        t.update_datetime as updateDatetime,
        t.is_valid as isValid
        from
        t_discord_account as t
        <where>
            is_valid = 1
            <if test="id != null">
                and t.id = #{id}
            </if>
            <if test="password != null">
                and t.password = #{password}
            </if>
            <if test="username != null">
                and t.username = #{username}
            </if>
            <if test="bindEmail != null">
                and t.bind_email = #{bindEmail}
            </if>
            <if test="bindEmailPassword != null">
                and t.bind_email_password = #{bindEmailPassword}
            </if>
            <if test="token != null">
                and t.token = #{token}
            </if>
            <if test="params != null and !params.isEmpty()">
                AND JSON_CONTAINS(
                t.params,
                <foreach collection="params" item='value' index='key' separator=',' open="JSON_OBJECT(" close=")">
                    #{key}, #{value}
                </foreach>
                )
            </if>
        </where>
    </select>
</mapper>
