<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.vortexa.bot_platform.mapper.ScriptNodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.vortexa.common.entity.ScriptNode">
        <id column="id" property="id" />
        <result column="group_id" property="groupId" />
        <result column="service_id" property="serviceId" />
        <result column="instance_id" property="instanceId" />
        <result column="host" property="host" />
        <result column="port" property="port" />
        <result column="script_node_name" property="scriptNodeName" />
        <result column="description" property="description" />
        <result column="node_app_config" property="nodeAppConfig" />
        <result column="bot_config_map" property="botConfigMap" />
        <result column="bot_meta_info_map" property="botMetaInfoMap" />
        <result column="params" property="params" />
        <result column="insert_datetime" property="insertDatetime" />
        <result column="update_datetime" property="updateDatetime" />
        <result column="valid" property="valid" />
    </resultMap>

    <insert id="insertOrUpdate">
        INSERT INTO t_script_node
        (group_id, service_id, instance_id, host, port, script_node_name, description, node_app_config, bot_config_map, bot_meta_info_map,params, update_datetime,  valid)
        VALUES (
        #{groupId}, #{serviceId}, #{instanceId}, #{host}, #{port}, #{scriptNodeName}, #{description}, #{nodeAppConfig}, #{botConfigMap}, #{botMetaInfoMap}, #{params},  current_timestamp, 1
        ) ON DUPLICATE KEY  UPDATE
        <trim suffixOverrides=",">
            <if test="groupId != null">
                group_id = values(group_id),
            </if>
            <if test="serviceId != null">
                service_id = values(service_id),
            </if>
            <if test="instanceId != null">
                instance_id = values(instance_id),
            </if>
            <if test="host != null">
                host = values(host),
            </if>
            <if test="port != null">
                port = values(port),
            </if>
            <if test="scriptNodeName != null">
                script_node_name = values(script_node_name),
            </if>
            <if test="description != null">
                description = values(description),
            </if>
            <if test="nodeAppConfig != null">
                node_app_config = values(node_app_config),
            </if>
            <if test="botConfigMap != null">
                bot_config_map = values(bot_config_map),
            </if>
            <if test="botMetaInfoMap != null">
                bot_meta_info_map = values(bot_meta_info_map),
            </if>
            <if test="params != null">
                params = values(params),
            </if>
            update_datetime = values(update_datetime),
            valid = values(valid),
        </trim>
    </insert>
</mapper>
