<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.vortexa.bot_platform.mapper.TwitterAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.vortexa.common.entity.TwitterAccount">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="email_password" property="emailPassword"/>
        <result column="token" property="token"/>
        <result column="f2a_key" property="f2aKey"/>
        <result column="params" property="params"/>
        <result column="insert_datetime" property="insertDatetime"/>
        <result column="update_datetime" property="updateDatetime"/>
        <result column="is_valid" property="isValid"/>
    </resultMap>

    <insert id="insertOrUpdate" parameterType="cn.com.vortexa.common.entity.TwitterAccount">
        INSERT INTO t_twitter_account
        (username, password, email, email_password, token, f2a_key, params, insert_datetime, update_datetime, is_valid)
        VALUES (#{username}, #{password}, #{email}, #{emailPassword}, #{token}, #{f2aKey}, #{params},
        #{insertDatetime}, #{updateDatetime}, #{isValid})
        ON DUPLICATE KEY
        UPDATE
        <trim suffixOverrides=",">
            <if test="username != null">
                password = values(password),
            </if>
            <if test="password != null">
                email = values(email),
            </if>
            <if test="emailPassword != null">
                email_password = values(email_password),
            </if>
            <if test="token != null">
                token = values(token),
            </if>
            <if test="f2aKey != null">
                f2a_key = values(f2a_key),
            </if>
            <if test="params != null">
                params = values(params),
            </if>
            <if test="updateDatetime != null">
                update_datetime = values(update_datetime),
            </if>
        </trim>
    </insert>

    <insert id="insertOrUpdateBatch" parameterType="java.util.List">
        INSERT INTO t_twitter_account
        (username, password, email, email_password, token, f2a_key, params, insert_datetime, update_datetime, is_valid)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{username}, #{password}, #{email}, #{emailPassword}, #{token}, #{f2aKey}, #{params},
            #{insertDatetime}, #{updateDatetime}, #{isValid})
        </foreach>
        ON DUPLICATE KEYUPDATE
        password = values (password),
        email =values (email),
        email_password = values (email_password),
        token =values (token),
        f2a_key = values (f2a_key),
        params = values (params),
        update_datetime =values (update_datetime)
    </insert>

    <select id="multipleConditionQuery"
            parameterType="cn.com.vortexa.common.entity.TwitterAccount"
            resultType="cn.com.vortexa.common.entity.TwitterAccount">
        select
        t.id,
        t.username,
        t.password,
        t.email,
        t.email_password as emailPassword,
        t.token,
        t.f2a_key as f2aKey,
        t.params,
        t.insert_datetime as insertDatetime,
        t.update_datetime as updateDatetime,
        t.is_valid as isValid
        from
        t_twitter_account as t
        <where>
            is_valid = 1
            <if test="id != null">
                and t.id = #{id}
            </if>
            <if test="username != null">
                and t.username = #{username}
            </if>
            <if test="password != null">
                and t.password = #{password}
            </if>

            <if test="email != null">
                and t.email = #{email}
            </if>
            <if test="emailPassword != null">
                and t.email_password = #{emailPassword}
            </if>
            <if test="token != null">
                and t.token = #{token}
            </if>
            <if test="f2aKey != null">
                and t.f2a_key = #{f2aKey}
            </if>
            <if test="params != null and !params.isEmpty()">
                AND JSON_CONTAINS(
                t.params,
                <foreach collection="params" item='value' index='key' separator=',' open="JSON_OBJECT(" close=")">
                    #{key}, #{value}
                </foreach>
                )
            </if>
        </where>
    </select>
</mapper>
