<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.vortexa.script_node.mapper.RewordInfoMapper">
    <update id="createIfTableNotExist">
        CREATE TABLE IF NOT EXISTS t_reword_info
        (
            "id"                   INTEGER PRIMARY KEY AUTOINCREMENT,
            "bot_id"               INTEGER NOT NULL,
            "bot_key"              TEXT    NOT NULL,
            "bot_account_id"       INTEGER NOT NULL,
            "total_points"         REAL,
            "daily_points"         REAL,
            "insert_datetime"      TEXT DEFAULT (strftime('%Y-%m-%d %H:%M:%S', 'now')),
            "update_datetime"      TEXT,
            "valid"             INTEGER(1) default 1
        );
    </update>
</mapper>
