<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.helei.db_layer.mapper.TelegramAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.helei.common.entity.TelegramAccount">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="phone_prefix" property="phonePrefix"/>
        <result column="phone" property="phone"/>
        <result column="token" property="token"/>
        <result column="params" property="params"/>
        <result column="insert_datetime" property="insertDatetime"/>
        <result column="update_datetime" property="updateDatetime"/>
        <result column="is_valid" property="isValid"/>
    </resultMap>

    <insert id="insertOrUpdate" parameterType="cn.com.helei.common.entity.TelegramAccount">
        INSERT INTO t_telegram_account
        (username, password, phone_prefix, phone, token, params, insert_datetime, update_datetime, is_valid)
        VALUES (#{username}, #{password}, #{phonePrefix}, #{phone}, #{token}, #{params}, #{insertDatetime},
                #{updateDatetime}, #{isValid})
        ON CONFLICT(phone_prefix, phone) DO
        UPDATE SET
            username = excluded.username,
            password = excluded.password,
            token = excluded.token,
            params = excluded.params,
            update_datetime = excluded.update_datetime;
    </insert>

    <select id="multipleConditionQuery"
            parameterType="cn.com.helei.common.entity.TelegramAccount"
            resultType="cn.com.helei.common.entity.TelegramAccount">
        select
        t.id,
        t.username,
        t.password,
        t.phone_prefix as phonePrefix, t.phone, t.token,
        t.params,
        t.insert_datetime as insertDatetime,
        t.update_datetime as updateDatetime,
        t.is_valid as isValid
        from
        t_telegram_account as t
        <if test="params != null and !params.isEmpty()">
            left join json_each(t.params) json_each
        </if>
        <where>
            is_valid = 1
            <if test="id != null">
                and t.id = #{id}
            </if>
            <if test="username != null">
                and t.username = #{username}
            </if>
            <if test="password != null">
                and t.password = #{password}
            </if>

            <if test="phonePrefix != null">
                and t.phone_prefix = #{phonePrefix}
            </if>
            <if test="phone != null">
                and t.phone = #{phone}
            </if>
            <if test="token != null">
                and t.token = #{token}
            </if>

            <if test="params != null and !params.isEmpty()">
                and
                <foreach collection="params" item='entry' index='key' separator='AND'>
                    json_each.key = #{key} and json_each.value = #{entry}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
